body {
  font-family: 'comic sans', comic sans, sans-serif;
  font-weight: 500;
  background-image: url(linedpaper.png);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 60px auto 60px auto;
}
